@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

#con{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#con-a{
    display: flex;
    margin-top: 4%;
    width: 100%;
}

#con-a-a{
    margin-left: 10%;
    border-radius: 10vw;
    margin-top: auto;
    margin-bottom: auto;
    /* border: solid; */
}

#con-a-b{
    margin-bottom: 50px;
    margin-top: 50px;
    position: absolute;
    left: 50vw;
}

#con-a-b h1{
    font-size: 8vw;
    font-family: "Wittgenstein", serif;
    font-weight: 800;
    margin: 0px;
    position: relative;
    margin-left: 25px;
}



#con-a-b h4{
    font-family: "Wittgenstein", serif;
    font-weight: 600;
    line-height: 160%;
    font-size: 20px;
    margin: 0px;
    margin-left: 75px;
}

h2{
    font-size: 6vw;
    line-height: 110%;
    font-weight: 800;
    font-family: "Wittgenstein", serif;
    margin: 0px;
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
}



#con-b{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

#con-b-a{
    font-family: "Wittgenstein", serif;
    font-weight: 600;
    line-height: 200%;
    font-size: 20px;
    width: 100%;
    text-align: justify;
}

@media (max-width: 1500px) {
    #con-a-b h1 {
        font-size: 400%;
    }

    #con-a-b h4{
        font-size: 150%;
    }

    h2{
        font-size: 300%;
    }
}

#con-b-b{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#con-c{
    font-family: "Wittgenstein", serif;
    font-weight: 600;
    line-height: 200%;
    font-size: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

h3{
    font-size: 3vw;
    line-height: 110%;
    font-weight: 800;
    font-family: "Wittgenstein", serif;
    margin: 0px;
    text-align: center;
}

#con-d{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#con-d-a{
    align-content: center;
}

#con-d-a-a{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#con-d-a-a a{
    color: black;
    width: 85px;
    height: 60px;
    margin: 40px;
}

#con-d-a-a a img{
    width: 75px;
    transition: 0.25s;
}

#con-d-a-a a img:hover{
    width: 85px;
}

video{
    justify-self: center;
    align-self: center;
    min-width: 500px;
    width: 40vw;
}