@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

#about_section{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#about_section h2{
    font-size: 3vw;
    line-height: 110%;
    font-weight: 800;
    font-family: "Wittgenstein", serif;
    color: rgb(58, 75, 99);
}

#about_section p{
    font-family: "Wittgenstein", serif;
    font-weight: 600;
    line-height: 160%;
    font-size: 20px;
}

#about_section h1{
    text-align: center;
    font-size: 8vw;
    font-family: "Wittgenstein", serif;
    font-weight: 800;
    /* border: solid; */
    margin-top: 5vw;
    margin-bottom: 2vw;
    color: rgb(94, 94, 94);
}

#about_section .image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#about_section #hero{
    /* border: solid; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 75px;
}

#about_section #hero #potrait{
    width: 20vw;
    height: 25vw;
    /* border-top-left-radius: 10vw;
    border-top-right-radius: 10vw; */
    /* margin-left: 5vw; */
}

#about_section #descrip{
    width: 45vw;
}

#about_section #descrip h2{
    margin-left: 7.5vw;
    margin-top: 1vw;
}

#about_section #descrip p{
    margin-left: 7.5vw;
}

#about_section #mid-a{
    margin-left: 25vw;
    width: 60vw;
    text-align: left;
    /* border: solid; */
}

#about_section #mid-b{
    margin-left: 30vw;
    width: 33vw;
    /* border: solid; */
}

#about_section #grid-4box{
    display: grid;
    background-color: rgb(216, 216, 216);
    width: calc(85vw - 200px);
    margin-top: 4vw;
    margin-bottom: 4vw;
    align-self: center;
    border-radius: 4vw;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    row-gap: 100px;
}

#about_section #grid-4box h3{
    font-family: "Wittgenstein", serif;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(94, 94, 94);
}

#about_section #grid-4box h2{
    font-size: 35px;
    margin: 0px;
}

#about_section #grid-4box p{
    text-align: center;
    line-height: 200%;
}

#about_section #grid-4box .grid-square{
    /*TOP RIGHT BOTTOM LEFT*/
    margin: 0px;
    width: 33vw;
}

#about_section #end-paragraph{
    margin-left: 30vw;
    width: 35vw;
    margin-bottom: 4vw;
}

#about_section #large_image{
    width: 45vw;
}

#about_section #small_image{
    width: 20vw;
}

#about_section #medium_image{
    width: 30vw;
}

#about_section .gallery_images{
    height: 28vw;
    border-radius: 2vw;
    margin-bottom: 10vw;
    margin-top: 2vw;
    margin-left: 15px;
    margin-right: 15px;
    
}

#about_section .image:hover span{
    opacity: 100%;
}
#about_section #icon_image:hover span{
    opacity: 100%;
}


#about_section #icon_image span{
    align-self: flex-end;
    font-family: "Wittgenstein", serif;
    font-weight: 600;
    line-height: 160%;
    font-size: 15px;
    opacity: 0%;
    transition: 0.25s;
    margin: auto;
    color: white;
    background-color: rgb(94, 94, 94);
    padding: 5%;
    border-radius: 25%;
}

#about_section .gallery_images span{
    background-color: white;
    align-self: flex-end;
    margin-left: 3em;
    margin-bottom: 3em;
    padding: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Wittgenstein", serif;
    font-weight: 600;
    line-height: 160%;
    font-size: 15px;
    border-radius: 10px;
    opacity: 0%;
    transition: 0.25s;
}

#about_section #icon_image{
    width: 128px;
    height: 128px;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
}

#photo_gallery{
    margin: 0vw 10vw;
    overflow: hidden;
}
/* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
/* font-family: "Wittgenstein", serif; */